<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <networks>
      <network name="Instagram" ItemId="{7BCAA416-70FE-4E54-A081-D8E98EB8B7E9}" prefix="ig"
     icon="Instagram" url="http://instagram.com">
        <providers>
          <provider type=" Sitecore.Social.Instagram.Providers.InstagramProvider, 
Sitecore.Social.Instagram "/>
        </providers>
      </network>
    </networks>
  </sitecore>
</configuration>