<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--  Section for configure the social profile synchronization. For include some field from social site to profile 
          set 'enabled' property to 'true'. And set it as 'false' if you don't need it in your profile. -->
    <socialProfileKeyMappings>
      <network name="Instagram">
        <field enabled="true" originalKey="id" sitecoreKey="ig_id" text="ID" />
        <field enabled="true" originalKey="username" sitecoreKey="ig_username" text="User Name" />
        <field enabled="true" originalKey="full_name" sitecoreKey="ig_full_name" text="Full Name" />
        <field enabled="true" originalKey="profile_picture" sitecoreKey="ig_profile_picture" text="Profile Picture"  />
        <field enabled="true" originalKey="recent" sitecoreKey="ig_recent" text="Recent" loadFromService="media/recent" />
        <field enabled="true" originalKey="feed" sitecoreKey="ig_feed" text="Feed" loadFromService="feed" />



        <!--TODO: Make additional queries to get current photos, friends, etc. -->
        
      </network></socialProfileKeyMappings></sitecore></configuration>
        

<!--
Data returned from Instagram:
{
    "access_token": "fb2e77d.47a0479900504cb3ab4a1f626d174d2d",
    "user": {
        "id": "1574083",
        "username": "snoopdogg",
        "full_name": "Snoop Dogg",
        "profile_picture": "http://distillery.s3.amazonaws.com/profiles/profile_1574083_75sq_1295469061.jpg"
    }
}
-->